
<body>
 
  <div class="wrapper">

  
  <section class="nav-section">
    <img class="logo" src="./assets/images/logo.png" alt="logo">
    <nav class="nav">
       | <a routerLink="/text-image" routerLinkActive="">TextImage</a> |
        <a routerLink="/video">Video</a> |
        <a routerLink="/input">Input</a> |
    </nav>
  </section>
  
<router-outlet></router-outlet>

<section class="footer">
  <div class="info">
  <h5>Kontakt Info:</h5>
  <p>Adress: Lorem Ipsum 99, 4567 Oslo</p>
  <p>Telefon nummer: 0708 - 42 ** *9.</p>
  <p>E-mail: loremipsum@testing.com</p>
  
  </div>
  <h6>All images are from: LogoMakr.com</h6>
  <div class="socialMedia">
    <h6>Follow us on:</h6>
    <a href="https://www.facebook.com/"><img src="./assets/images/facebook.png" alt="facebook" class="mediaImage"></a>
    <a href="https://www.twitter.com/"><img src="./assets/images/twitter.png" alt="twitter" class="mediaImage"></a>
      <a href="https://www.instagram.com/"><img src="./assets/images/instagram.png" alt="instagram" class="mediaImage"></a>
  </div>
</section>
</div>
</body>



