
<body>
 
  <div class="wrapper">

  
  <section class="nav-section">
    <img class="logo" src="./assets/images/logo.png">
    <nav class="nav">
      <ul>
       <li> <a routerLink="/Home" routerLinkActive="">Home</a> </li>
       <li>  <a routerLink="/About">Video</a> </li>
       <li>  <a routerLink="/Contact">Input</a> </li>
      </ul>
    </nav>
  </section>
  
<router-outlet></router-outlet>

<section class="footer">
  <div class="info">
  <h5>Kontakt Info:</h5>
  <p>Adress: Lorem Ipsum 99, 4567 Oslo</p>
  <p>Telefon nummer: 0708 - 42 ** *9.</p>
  <p>E-mail: loremipsum@testing.com</p>
  
  </div>
  <h6>All images are from: LogoMakr.com</h6>
  <div class="socialMedia">
    <h6>Follow us on:</h6>
    <a href="https://www.facebook.com/"><img src="./assets/images/facebook.png" class="mediaImage"></a>
    <a href="https://www.twitter.com/"><img src="./assets/images/twitter.png" class="mediaImage"></a>
      <a href="https://www.instagram.com/"><img src="./assets/images/instagram.png" class="mediaImage"></a>
  </div>
</section>
</div>
</body>



